{% include "header.html" %}

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up pb-3"></i></button>



<!--  Navbar -->
<section id="Yummy" class="Yummy sticky-top shadow-sm">	
    <div class="container-fluid">
        <!-- Navbar Row -->
        <div class="row justify-content-center m-0 bg-white">
            <div class="col-lg-11 mt-3">
                <!-- Navbar Content Row -->
                <div class="row">
                    <!-- Logo Column -->
                    <div class="col-lg-5 col-md-5 col-8 mt-3 ps-4">
                        <p><a href="/" class="text-decoration-none text-black fs-2 fw-bold">Yummy.</a></p>
                    </div> 
                    <div class="col-lg-6  text-end pt-lg-4 pb-lg-0 pb-2">
                        <a href="/" class="text-decoration-none text-black">HOME</a>
                        <span class="text-muted"> / CHOOSE-US</span>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
<!-- END Navbar -->



<!-- Choose Us Section with Bootstrap Responsive Layout -->
<section class="choose" id="choose">
    <div class="container-fluid">
        <div class="row justify-content-center m-0 py-5 my-5">
            <div class="col-lg-11">
                <div class="row justify-content-center">
                    <!-- Left Column -->
                    <div class="col-lg-6 p-5">
                        <h1 class="fw-bold mt-5">Why Choose<br>Yummy?</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                        </p>
                    </div>
                    <!-- Right Column - First Image -->
                    <div class="col-lg-6 p-5">
                        <img src="/static/images/events-1.jpg" class="img-fluid rounded-3" alt="Image 1">
                    </div>
                    <!-- Right Column - Second Image -->
                    <div class="col-lg-6 p-5">
                        <img src="/static/images/events-2.jpg" class="img-fluid rounded-3" alt="Image 2">
                    </div>
                    <!-- Right Column - Additional Content -->
                    <div class="col-lg-6 p-5">
                        <h1 class="fw-bold mt-5">Why Choose<br>Yummy?</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Us Section with Bootstrap Responsive Layout End -->




{% include "footer.html" %}	



<!--script-->

<!------------------
top up button
------------------->
<script>
	// Get the button:
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>
<!------------------
top up button end
------------------->


<!--script end-->