{% include "header.html" %}

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up pb-3"></i></button>

<!--nav-bar-->
<section id="nav-bar" class="nav-bar sticky-top">
	<nav class="navbar navbar-expand-lg bg-body-tertiary p-0 ">
		<div class="container-fluid bg-white py-2">
			<div class="col-lg-2 text-end">
				<p class="pt-4"><a href="/" class= "navbar-brand text-decoration-none text-black fs-2 fw-bold">Yummy.</a></p>
			</div>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
			<div class="col-lg-8">
				<ul class="navbar-nav list-inline justify-content-center header">
					<li class="list-inline-item nav-item">
						<a href="#home" class="nav-link text-decoration-none text-black fw-bold mx-3">Home</a>
					</li>
					<li class="list-inline-item nav-item">
						<a href="#about"class="nav-link text-decoration-none text-black fw-bold mx-3">About</a>
					</li>
					<li class="list-inline-item nav-item">
						<a href="#menu"class="nav-link text-decoration-none text-black fw-bold mx-3">Menu</a>
					</li>
					<li class="list-inline-item nav-item">
						<a href="#chefs"class="nav-link text-decoration-none text-black fw-bold mx-3">Chefs</a>
					</li>
					<li class="list-inline-item nav-item">
						<a href="#contact"class="nav-link text-decoration-none text-black fw-bold mx-3">Contact</a>
					</li>
				</ul>
			</div>
		  </div>
		  <div class="col-lg-2 d-none d-lg-flex">
			<a class="btn btn-danger ms-5 rounded-pill p-2 ps-4 pe-4 btn-book-a-table" href="#book-a-table">Book a Table</a>
		  </div>
		</div>
	</nav>
</section>	
<!--nav bar end-->

	
<!-- HOME Section -->
<section id="home" class="home">
    <div class="containe-fluid">
        <div class="row justify-content-center  bg-light m-0">
            <div class="col-lg-11 col-xl-11">
                <div class="row mb-5">
                    <div class="col-lg-6 pt-lg-5 pt-4 pt-xl-5 ps-xl-5 mt-xl-5">
                        <h1 class="fw-bold mt-lg-5 ms-lg-4 ms-0">Enjoy Your<br>Healthy<br>Delicious Food</h1>
                        <p class="ms-lg-4 ms-0">Sed autem laudantium dolores. Voluptatem itaque ea consequatur<br> eveniet. Eum quas beatae cumque eum quaerat.</p>
                        <a class="btn btn-danger ms-lg-4 ms-0 rounded-pill p-2 ps-4 pe-4 btn-book-a-table shadow-lg" href="#book-a-table">Book a Table</a>
                        <a href="#" class="btn btn-lg text-decoration-none text-black ms-lg-2 ms-0 border border-0 mt-1"><i class="fa fa-play-circle-o me-2 text-danger fs-5"></i><span class="fs-5">Watch Video</span></a>
                    </div>
                    <div class="col-lg-6 pt-lg-0 pt-4">
                        <img src="/static/images/hero-img.png" class="img-fluid mt-3 p-lg-5 p-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME Section -->



<!-- About Section -->
<section id="about" class="about">
    <div class="container">
        <h4 class="text-center mt-5">ABOUT US</h4>
        <p class="text-center">Learn More About Us</p>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-9 col-xl-12">
                <div class="row">
                    <div class="col-lg-7 position-relative">
                        <img src="/static/images/about.jpg" class="img-fluid h-100">
                        <p class="text-center position-absolute centered bg-white fw-bold fs-4">Book a Table<br><span class="text-danger">+91 xxxx xxxx xx</span></p>
                    </div>
                    <div class="col-lg-5 mt-lg-0 mt-4  position-relative">
                        <p class="ms-lg-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul>
                            <li class="list-inline"><i class="fa fa-check text-danger"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                            <li class="list-inline"><i class="fa fa-check text-danger"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            <li class="list-inline"><i class="fa fa-check text-danger"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                        </ul>
                        <p class="ms-lg-3">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptatevelit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>

                        <img src="/static/images/about-2.jpg" class="img-fluid ms-lg-3 hover-zoom">
						<div class="wrapper position-absolute">
							<div class="video-main">
							  <div class="promo-video">
								<div class="waves-block">
								  <div class="waves wave-1"></div>
								  <div class="waves wave-2"></div>
								  <div class="waves wave-3"></div>
								</div>
							  </div>
							  <a href="#" class="video" data-lity><i class="fa fa-play text-white"></i></a>
							</div>
						  </div>
	  
				  </div>
				</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->



<!-- Why Us Section -->
<section id="why-us" class="why-us section-bg">
    <div class="container-fluid">
        <div class="row justify-content-center bg-light mt-5">
            <div class="col-lg-10 col-xl-11">
                <div class="row p-5">
                    <div class="col-lg-4 p-3 red shadow-sm card border-0">
                        <h3 class="text-white mb-4">Why Choose <br> Yummy?</h3>
                        <p class="text-white w-100">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                        </p>
                        <div class="text-center">
                            <a href="/chooseus/" class="btn bg-light rounded-pill mt-3 border-0">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row p-3 p-xl-5">
                            <div class="col-lg-4 p-2 text-center">
                                <div class="card border-0 bg-white shadow-sm move-up2 box p-1">
                                    <div class="text-center">
                                        <i class="fa fa-clipboard fs-4 mt-5 article text-danger"></i>
                                    </div>
                                    <h6 class="mt-4 mb-4">Corporis voluptates <br> officia eiusmod</h6>
                                    <p class="pb-2">Consequuntur sunt aut quasi enim aliquam quae harum pariatur.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 p-2 text-center">
                                <div class="card border-0 bg-white shadow-sm move-up2 box">
                                    <div class="text-center">
                                        <i class="fa fa-diamond fs-4 mt-5 article text-danger"></i>
                                    </div>
                                    <h6 class="mt-4 mb-4">Ullamco laboris<br> ladore pan</h6>
                                    <p class="p-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. </p>
                                </div>
                            </div>
                            <div class="col-lg-4 p-2 text-center">
                                <div class="card border-0 bg-white shadow-sm move-up2 box p-1 ">
                                    <div class="text-center">
                                        <i class="fa fa-inbox fs-4 mt-5 article text-danger"></i>
                                    </div>
                                    <h6 class="mt-4 mb-4">Labore consequatur <br> incidid dolore</h6>
                                    <p class="pb-2">Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Why Us Section -->



<!-- bg-image Section -->
<section id="bg-image" class="bg-image">
    <div class="container my-5 py-3">
        <div class="row justify-content-center mt-5 p-5">
            <div class="col-lg-10 col-xl-12 text-center p-5 my-5">
                
            </div>
        </div>
    </div>
</section>
<!-- bg-image Section End -->


<!-- Menu Section -->
<section id="menu" class="menu">
    <div class="container">
        <h4 class="text-center mt-5">OUR MENU</h4>
        <p class="text-center">Check Our Yummy Menu</p>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-10 col-xl-12 text-center">

                <div id="myBtnContainer" class="mb-4">
                    <button class="btn border-0 fs-5 ms-xl-5 active" onclick="filterSelection('starter')">Starters</button>
                    <button class="btn border-0 fs-5 ms-xl-5" onclick="filterSelection('breakfast')">Breakfast</button>
                    <button class="btn border-0 fs-5 ms-xl-5" onclick="filterSelection('lunch')">Lunch</button>
                    <button class="btn border-0 fs-5 ms-xl-5" onclick="filterSelection('dinner')">Dinner</button>
                </div>

                <div class="row">
                    <!-- Starter -->
                    {% for starter in starterdata %}
                        <div class="col-lg-4 col-md-6 column starter">
                            <div class="content p-xl-4 m-3">
                                <img src="/media/{{starter.starter_img}}" class="img-fluid">
                                <h6 class="mt-3 fs-xl-4">{{starter.starter_title}}</h6>
                                <p class="mb-2">{{starter.starter_decprition}}</p>
                                <p class="mt-0 fs-4 fw-bold text-danger">${{starter.starter_price}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Starter End -->

                    <!-- Breakfast -->
                    {% for breakfast in breakfastdata %}
                        <div class="col-lg-4 col-md-6 column breakfast">
                            <div class="content p-xl-4 m-3">
                                <img src="/media/{{breakfast.breakfast_img}}" class="img-fluid">
                                <h6 class="mt-3 fs-xl-4">{{breakfast.breakfast_title}}</h6>
                                <p class="mb-2">{{breakfast.breakfast_decprition}}</p>
                                <p class="mt-0 fs-4 fw-bold text-danger">${{breakfast.breakfast_price}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Breakfast End -->

                    <!-- Lunch -->
                    {% for lunch in lunchdata %}
                        <div class="col-lg-4 col-md-6 column lunch">
                            <div class="content p-xl-4 m-3">
                                <img src="/media/{{lunch.lunch_img}}" class="img-fluid">
                                <h6 class="mt-3 fs-xl-4">{{lunch.lunch_title}}</h6>
                                <p class="mb-2">{{lunch.lunch_decprition}}</p>
                                <p class="mt-0 fs-4 fw-bold text-danger">${{lunch.lunch_price}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Lunch End -->

                    <!-- Dinner -->
                    {% for dinner in dinnerdata %}
                        <div class="col-lg-4 col-md-6 column dinner">
                            <div class="content p-xl-4 m-3">
                                <img src="/media/{{dinner.dinner_img}}" class="img-fluid">
                                <h6 class="mt-3 fs-xl-4">{{dinner.dinner_title}}</h6>
                                <p class="mb-2">{{dinner.dinner_decprition}}</p>
                                <p class="mt-0 fs-4 fw-bold text-danger">${{dinner.dinner_price}}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Dinner End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Menu Section End -->


<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container-fluid p-0">
        <!-- Carousel -->
        <div id="demo" class="carousel slide bg-light p-3" data-bs-ride="carousel">
            <h6 class="text-center mb-0 fw-light pt-4">TESTIMONIALS</h6>
            <h1 class="text-center fs-1 mt-0">What Are They <span class="text-danger">Saying About Us</span></h1>

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active rounded-circle bg-danger"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1" class="rounded-circle bg-danger"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2" class="rounded-circle bg-danger"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3" class="rounded-circle bg-danger"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for testimonial_test in testimonialdata %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="row justify-content-center m-0">
                                <div class="col-lg-11">
                                    <div class="row justify-content-center mt-5 pt-4">
                                        <div class="col-lg-6 col-md-8 col-sm-10 border-start border-3 mb-5 border-danger">
                                            <p><i class="fa fa-quote-left text-danger"></i>
                                                {{testimonial_test.test_quets}}
                                                <i class="fa fa-quote-right text-danger"></i>
                                            </p>
                                            <h5 class="mb-1">{{testimonial_test.test_name}}</h5>
                                            <p>{{testimonial_test.test_designation}}</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item me-1 fs-5 text-warning"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item me-1 fs-5 text-warning"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item me-1 fs-5 text-warning"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item me-1 fs-5 text-warning"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item me-1 fs-5 text-warning"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-2 mb-5">
                                            <img src="/media/{{testimonial_test.test_image}}" class="img-fluid rounded-circle">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <a href="#demo" class="carousel-control-prev" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#demo" class="carousel-control-next" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->



<!-- Chefs Section -->
<section id="chefs" class="chefs section-bg">
    <div class="container-fluid">
        <div class="row justify-content-center mt-5 bg-light p-5">
            <div class="col-lg-10">
                <p class="text-center mb-0">CHEFS</p>
                <h1 class="text-center fs-1 mt-0">Our <span class="text-danger">Professional</span> Chefs</h1>
                <div class="row mt-4">
					{% for chef in Chefsdata %}
                    <div class="col-lg-4 col-md-6 mt-4 text-center">
                        <div class="card border-0 box move-up">
                            <div class="row">
                                <div class="col-lg-12 position-relative product-grid">
                                    <ul class="social position-absolute text-center list-inline bg-light p-2 rounded-2">
                                        <li class="mt-1"><a href="{{chef.chef_twitter}}"><i class="fa fa-twitter"></i></a></li>
                                        <li class="mt-1"><a href="{{chef.chef_facebook}}"><i class="fa fa-facebook"></i></a></li>
                                        <li class="mt-1"><a href="{{chef.chef_instagram}}"><i class="fa fa-instagram"></i></a></li>
                                        <li class="mt-1"><a href="{{chef.chef_linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                    <img src="/media/{{chef.chef_image}}" class="img-fluid rounded-top">
                                </div>
                                <div class="col-lg-12 px-4 pb-3">
                                    <h4 class="mt-3 mb-0">{{chef.chef_name}}</h4>
                                    <p>{{chef.chef_designation}}</p>
                                    <i>{{chef.chef_someline}}</i>
								</div>	
                            </div>
                        </div>
                    </div>
					{% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Chefs Section -->


<!-- Book A Table Section -->
<section id="book-a-table" class="book-a-table">
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-10">
                <p class="text-center mt-5 mb-0">BOOK A TABLE</p>
                <h1 class="text-center fs-1 mt-0 mb-5">Book <span class="text-danger">Your Stay</span> With Us</h1>
                <div class="row bg-light">
                    <div class="col-lg-4 p-0">
                        <img src="/static/images/reservation.jpg" class="img-fluid">
                    </div>
                    <div class="col-lg-8 text-center p-5 mt-5">
                        <form method="POST" action="{% url 'reserve' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-4 mt-4">
                                    {{ usrform.name }}
                                </div>
                                <div class="col-lg-4 mt-4">
                                    {{ usrform.email }}
                                </div>
                                <div class="col-lg-4 mt-4">
                                    {{ usrform.phone }}
                                </div>
                                <div class="col-lg-4 mt-4">
                                    {{ usrform.date }}
                                </div>
                                <div class="col-lg-4 mt-4">
                                    {{ usrform.time }}
                                </div>
                                <div class="col-lg-4 mt-4">
                                    {{ usrform.people }}
                                </div>
                                <div class="col-lg-12 mt-3">
                                    {{ usrform.comments }}
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" name="booktable_form_submit" class="rounded-pill btn btn-danger text-white border-0 p-2 ps-4 pe-4">Book a Table</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Book A Table Section -->



<!-- Contact Section -->
<section id="contact" class="contact">
    <div class="container">
        <h1 class="text-center mt-5">CONTACT</h1>
        <h2 class="text-center">Need Help? <span class="text-danger">Contact Us</span></h2>
        <div class="row justify-content-center mt-5">
            <!-- Map -->
            <div class="col-lg-12 mt-4 mb-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224612.44385209947!2d77.1789885259985!3d28.402069847787693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cdc15f5a424b1%3A0xe4f50576c850e0f2!2sFaridabad%2C%20Haryana!5e0!3m2!1sen!2sin!4v1670938782949!5m2!1sen!2sin"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade" class="form-control p-0">
                </iframe>
            </div>
            <!-- Contact Info -->
            <div class="col-lg-6 mt-3">
                <div class="card border-0 bg-light ps-3 ps-lg-0">
                    <div class="row">
                        <div class="col-lg-2 ps-3 p-3">
                            <i class="fa fa-map text-danger pt-3 ps-lg-5 fs-3"></i>
                        </div>
                        <div class="col-lg-10 p-3">
                            <h3>Our Address</h3>
                            <p>Sec-11 market Faridabad, Haryana, India</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-3">
                <div class="card border-0 bg-light ps-3 ps-lg-0">
                    <div class="row">
                        <div class="col-lg-2 ps-3 p-3">
                            <i class="fa fa-envelope text-danger pt-3 ps-lg-5 fs-3"></i>
                        </div>
                        <div class="col-lg-10 p-3">
                            <h3>Email Us</h3>
                            <p>contact@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-3">
                <div class="card border-0 bg-light ps-3 ps-lg-0">
                    <div class="row">
                        <div class="col-lg-2 ps-3 p-3">
                            <i class="fa fa-phone text-danger pt-3 ps-lg-5  fs-3"></i>
                        </div>
                        <div class="col-lg-10 p-3">
                            <h3>Call Us</h3>
                            <p>+91 xxx xxxxx xx</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-3">
                <div class="card border-0 bg-light ps-3 ps-lg-0">
                    <div class="row">
                        <div class="col-lg-2 ps-3 p-3">
                            <i class="fa fa-share-alt text-danger pt-3 ps-lg-5 fs-3"></i>
                        </div>
                        <div class="col-lg-10 p-3">
                            <h3>Opening Hours</h3>
                            <p><span class="fw-bold">Mon-Sat:</span> 11AM - 23PM; <span class="fw-bold">Sunday:</span> Closed</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Form -->
            <div class="col-lg-12 p-5 mt-5 bg-white shadow">
                <form method="POST" action="{% url 'client' %}">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            {{ sendform.name }}
                        </div>
                        <div class="col-lg-6 mt-lg-0 mt-4">
                            {{ sendform.email }}
                        </div>
                        <div class="col-lg-12 mt-4">
                            {{ sendform.subject }}
                        </div>
                        <div class="col-lg-12 mt-4">
                            {{ sendform.comments }}
                        </div>
                        <div class="col-lg-12 mt-4 text-center">
                            <button type="send" name="sendmessage_form_submit" class="btn btn-danger rounded-pill px-4 py-2">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END Contact Section -->


{% include "footer.html" %}


<!--script-->

<!------------------
top up button
------------------->
<script>
	// Get the button:
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>
<!------------------
top up button end
------------------->



<!------------------
menu
------------------->
<script>
    filterSelection("starter")
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("column");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }

    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
      }
    }

    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
      }
      element.className = arr1.join(" ");
    }


    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
</script>
<!------------------
menu end
------------------->

<!--script end-->